<section>
    <div class="image">
        <img src="/assets/code.png">
    </div>

    <div class="content">
        <h2>About Us</h2>
        <span></span>
        <p>CodeFactory</p>
        <ul class="links">
            <li><a routerLink="/work">Toggle</a></li>
            <div class="vertical-line"></div>
            <li><a routerLink="/service">Hover Buttons</a></li>
            <div class="vertical-line"></div>
            <li><a routerLink="/contact">Colored Hover Buttons</a></li>
        </ul>
    </div>
</section><br><br>

